@model IEnumerable<MVCHomework1.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script>
        function onSelectChanged(sender) {
            var data = { keyword: $('#ddl').val() }
            var select = $('#ddl').val();
            //window.location.href = url + "?keyword=" + $('#ddl').val();
            $.get("客戶聯絡人/Index", data, function (result) {
                $("#d").html(result);
                $("#ddl option[value='" + select + "']").attr("selected", "true");
            });
        }
    </script>
}

<h2>Index</h2>


@Html.ActionLink("Create New", "Create")
@using (Html.BeginForm())
{
    <p>
        Keyword: @Html.TextBox("keyword")
        <input type="submit" value="查詢" />
        @Html.Partial("_ExportToExcelPartial")
    </p>
}


<div id="d">
    @Html.Partial("_IndexPartialView", Model)
</div>

